

{% extends '__base__.html' %}

{% block title %}Sign In{% endblock %}

{% block beforehead %}
  <script>
    alert('0');
    function validateEmail(email){
      var re=/'^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$'/;
      return re.test(email.toLowerCase());
    }
    $(function(){  //相当于$(document).ready(function(){})
      $(document).on('submit',function(){
      
        function erroralert(text){
            var showerror=$('#vm div.uk-alert');
            showerror.text(text).css('color','red');
            showerror.show();             
            showerror.attr('class','uk-alert uk-alert-danger');
            alert(showerror.text());
        }
        
        alert('do submit');
        var form=$('form#vm');
        
        var name=$('#vm input[v-model=name]');
        var email=form.find('input[v-model=email]');
        var password1=form.find('input[v-model=password1]');
        var password2=form.find('input[v-model=password2]');
        
        email.css('background-color', '#ffd351');
        alert('name='+name.val());
        alert('email='+email.get(0).value);
        
        if(!name.val().trim() ){            
            erroralert('please input your name');            
            return false;
        }
        if(!email.val().trim()){
            erroralert('please input your email');
            return false;
        }
        if(!password1.val().trim()||password1.val()!==password2.val()){
            
            return erroralert('please check your password');
        } 
        var o1={
            name:name.val().trim(),
            email:email.val().trim(),
            password:CryptoJS.SHA1(email.val().trim()+':'+password1.val()).toString()       
        }
        $('h3#objectshow').text(JSON.stringify(o1));
        alert('almost suceed');
        function postf(o1){
        form.postJSON('/api/users',o1,function(err,r){
            if(err){
                erroralert(err.toString());
                return false;
            }
            location.assign('/');
            return false;
        });
        }
        return postf(o1);
      });
    });
       /*
        method:{
            submit: function(event){
                alert('1');
                event.preventDefault();
                var $form=$('#vm');
                if(!this.name.trim()){
                    return $form.showFormError('input your name please');
                }
                if(!validateEmail(this.email.trim())){
                    return $form.showFormError('input corect email please');
                }
                if(this.password1.length<6){
                    return $form.showFormError('password should be at least 6 charactors');
                }
                if(this.password1!==this.password2){
                    return $form.showFormError('passwords not the same');
                }
                var email=this.email.trim().toLowerCase();
                $form.postJSON('/api/users',{    //postJSON: 通过post方法来快速获得一个json对象，路径，参数，回调函数
                    name:this.name.trim(),
                    email:email,
                    password:CryptoJS.SHA1(email+':'+this.password1).toString()
                },function(err,r){
                    if(err){
                        return $form.showFormError(err);
                    }
                    return location.assign('/');
                });
            }
            
        }
      }     
      );
      $('#vm').show();
    });
    */
  </script>
{% endblock %}

{% block content %}
  <div class="uk-width-2-3">
    <h1>welcome to sign in</h1>
    <h3 id="objectshow"></h2>
    <form id="vm" v-on="submit: submit" class="uk-form uk-form-stacked" >
      <div class="uk-alert uk-alert-danger uk-hidden"></div>
      <div class="uk-form-row">
        <label class="uk-form-label">name: </label>
        <div class="uk-form-controls">
          <input v-model="name" type="text" max-length="50" placeholder="input name" class="uk-width-1-1" >
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label">email: </label>
        <div class="uk-form-controls">
          <input v-model="email" type="text" max-length="50" placeholder="your email@example.com" class="uk-width-1-1">
        </div>
      </div>
      <div class="uk--form-row">
        <label class="uk-form-label">password: </label>
        <div class=uk-form-controls">
          <input v-model="password1" type="password" max-length="50" placeholder="enter your password" class="uk-width-1-1">
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label">password again: </label>
        <div class="uk-form-controls">
          <input v-model="password2" type="password" max-length="50" placeholder="enter password again" class="uk-width-1-1">
        </div>
      </div>
      <div class="uk-form-row">
        <button type="submit" class="uk-button uk-button-primary" ><i class="uk-icon-user"></i> Sign In</button>
      </div>
    </form>
  </div>
{% endblock %}
