

{% extends '__base__.html' %}

{% block title %}Sign In{% endblock %}

{% block beforehead %}
<script>
alert('0');
function validateEmail(email) {
    var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    return re.test(email.toLowerCase());
}
$(function () {
    var vm = new Vue({
        el: '#vm',
        data: {
            name: '111',
            email: '',
            password1: '',
            password2: ''
        },
        methods: {
            
            submit: function (event) {
                alert('1');
                event.preventDefault();
                var $form = $('#vm');
                if (! this.name.trim()) {
                    return $form.showFormError('请输入名字');
                }
                if (! validateEmail(this.email.trim().toLowerCase())) {
                    return $form.showFormError('请输入正确的Email地址');
                }
                if (this.password1.length < 6) {
                    return $form.showFormError('口令长度至少为6个字符');
                }
                if (this.password1 !== this.password2) {
                    return $form.showFormError('两次输入的口令不一致');
                }
                var email = this.email.trim().toLowerCase();
                $form.postJSON('/api/users', {
                    name: this.name.trim(),
                    email: email,
                    passwd: CryptoJS.SHA1(email + ':' + this.password1).toString()
                }, function (err, r) {
                    if (err) {
                        return $form.showFormError(err);
                    }
                    return location.assign('/');
                });
            }
        }
    });
    $('#vm').show();
});
</script>
{% endblock %}

{% block content %}
  <div class="uk-width-2-3">
    <h1>welcome to sign in</h1>
    <h2>h2 {{name}}</h2>
    <form id="vm" v-on="submit: submit" class="uk-form uk-form-stacked">
      <div class="uk-alert uk-alert-danger uk-hidden"></div>
      <div class="uk-form-row">
        <label class="uk-form-label">name: </label>
        <div class="uk-form-controls">
          <input v-model="name" type="text" max-length="50" placeholder="input name" class="uk-width-1-1">
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label">email: </label>
        <div class="uk-form-controls">
          <input v-model="email" type="text" max-length="50" placeholder="your email@example.com" class="uk-width-1-1">
        </div>
      </div>
      <div class="uk--form-row">
        <label class="uk-label">password: </label>
        <div class=uk-form-controls">
          <input v-model="password1" type="password" max-length="50" placeholder="enter your password" class="uk-width-1-1">
        </div>
      </div>
      <div class="uk-form-row">
        <label class="uk-form-label">password again: </label>
        <div class="uk-form-controls">
          <input v-model="password2" type="password" max-length="50" placeholder="enter password again" class="uk-width-1-1">
        </div>
      </div>
      <div class="uk-form-row">
        <button type="submit" class="uk-button uk-button-primary" ><i class="uk-icon-user"></i> Sign In</button>
      </div>
    </form>
  </div>
{% endblock %}
